<h2> Create target </h2>
<form method="post">
  <div class="form-group p-10">
    <label for="exampleInputEmail1">Email address</label>
    <input
      type="email"
      name="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter email"
    />
  </div>
  <br />
  <div class="row">
    <div class="col">
      <input
        type="text"
        name="name"
        class="form-control"
        placeholder="First name"
      />
    </div>
    <div class="col">
      <input
        type="text"
        name="surname"
        class="form-control"
        placeholder="Last name"
      />
    </div>
    <div class="col">
      <input
        type="text"
        name="patronymic"
        class="form-control"
        placeholder="Last name"
      />
    </div>
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
